@media  (max-width: 1200px) {
.contact-x .man-img {
    max-width: 550px;
    top: -1em;
}


}
@media (max-width: 1024px) {

}
@media (max-width: 991px) {
.open-sidebar {
	display: block;
	margin-top: 40px;
}
.navbar-header {
    width: 100%;
}
.navbar-header {
    width: 100%;
}

#myOrder {
    margin-top: 35px;
	height: 720px;
}

#slider, .home-slider-x .img {
    /*height: 790px;*/
    background-size: cover;
    background-position: center;
}

.text-box {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}

.box-id {
    width: 100%;
}

.man-img {
    display: none;
}

.contact-x .title {
    text-align: center;
}

.contact-x .title h3 {
    margin: 0 auto 40px;
}

.contact-x .title h3::after {
    left: 0;
}

#contact {
    margin: 0;
}

.footer-top h1 {
    margin: 40px 0 30px;
}

.footer-top ul.links {
    float: right;
    width: 100%;
    margin-bottom: 0;
}
.block-item::before, .block-item::after { 
	display: none;
}
.block-item:hover { 
	background: #0276d9;
}
.details-con {
    display: none;
}

.toph p {
    display: none;
}

nav.navbar.navbar-inverse {
    display: none;
}

.text-single {
    margin-top: 40px;
}
.mapf {
    margin-top: 50px;
}
.single-slider {
    margin: 50px 0;
}

.four-app {
    padding: 30px 0;
}

section.app.body-in {
    padding: 20px 0 50px;
}

}

@media (max-width: 767px){
.text-single ul li a img {
    max-width: 170px;
}
.home-slider-x .container .text-box {
    width: 100%;
    padding: 100px 20px;
    margin: 0;
}

#slider, .home-slider-x .img {
    height: 460px;
}
	
}
@media (max-width: 550px) { 
.container {
    width: 100%;
}

}
@media (max-width: 520px) { 


}

@media (max-width: 485px){
.text-single ul li a img {
    max-width: 170px;
}
.text-single ul li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
.tracking-info-detail .tracking-box .tracking-location {
    width: 60%;
    padding-bottom: 20px;
	padding-right: 40px;
}


}
@media (max-width: 410px) {



}
@media (max-width: 370px) {


}
@media (max-width: 320px) {




}
