@import "bootstrap.css";
@import "all.css";
@import "fonts.css";
@import "animate.css";
@import "aos.css";
@import "owl.carousel.css";
@import "jquery.mCustomScrollbar.min.css";
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-family: bahijPlain;
    color: #000;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a:hover {
    text-decoration: none;
    color: #c7a023;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
button, button:hover {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
body {
    padding: 0;
    margin: 0;
    font-family: bahijPlain;
    background: #fff;
    width: 100%;
    height: 100%;
    float: right;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: bahijPlain;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
header, section, footer {
    float: right;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow: hidden;
}
section {
    position: relative;
}
p {
    margin: 0;
    color: #414141;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
}
ul {
    padding: 0;
    margin: 0;
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
ul li {
    display: block;
    list-style: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
main {
    float: right;
    width: 100%;
}
.padding {
    padding: 0 !important;
}
img {
    max-width: 100%;
}
input, button, input:focus, button:focus, input:active, button:active, button:hover, textarea:active, textarea:focus, select, select:active, select:focus {
    outline: none !important;
}
textarea {
    resize: none;
}
.right {
    float: right !important;
}
.left {
    float: left !important;
}
.opacity {
    opacity: 0;
}
/* Start Sidebar */

.open-sidebar {
    float: left;
    width: 45px;
    height: 45px;
    border: none !important;
    background: #fe5900;
    color: #ffffff;
    margin: 18px 0;
}
.sidebar {
    background-size: cover;
    --background-image: url(../images/logo.png);
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 999999999;
    transform: translateX(100%);
    transition: all .3s;
    background-position: 36%;
}

.sidebar .side-logo img {
    max-width: 100px;
}

.sidebar.opened {
    transform: translateX(0%);
    transition: all .3s;
}

.sidebar:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-color: #607D8B;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.sidebar .side-logo {
    background-color: #fff;
    padding: 30px;
    position: relative;
    z-index: 1;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

.sidebar .side-social {
    text-align: center;
    padding: 10px 0;
    background-color: #4a6572;
    position: relative;
    z-index: 1;
}

.sidebar .side-social ul li {
    display: inline-block;
}

.sidebar .side-social ul li a {
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    background-color: #607d8b;
    border-radius: 100%;
    font-size: 15px;
    margin-right: 5px;
    transition: all .3s;
    color: #fff !important;
}

.sidebar .side-social ul li a.lin {
    color: #1562cc;
}

.sidebar .side-social ul li a.tw {
    color: #00a2ff;
}

.sidebar .side-social ul li a.ins {
    color: #622e04;
}

.sidebar .side-social ul li a:hover i {
    color: #167a12;
}

.sidebar .side-nav {
    max-height: 100%;
    overflow: hidden;
    height: calc(100% - 110px);
    position: relative;
    z-index: 1;
}

.sidebar .side-nav ul li {
    display: block;
    position: relative;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
    margin-left: 5px;
}

.sidebar .side-nav ul li a {
    display: block;
    font-size: 13px;
    padding: 15px;
    position: relative;
    color: #fff;
}

.sidebar .side-nav ul li a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
}

.sidebar .side-nav ul li.open a i {
    transform: rotate(180deg);
    transition: all .3s;
    color: #ffb017;
}

.sidebar .side-nav ul li a i {
    margin-right: 3px;
}

.sidebar .side-nav ul li .sub-menu {
    width: 100%;
    min-width: 100%;
    top: 100%;
    border-radius: 0;
}

.sidebar .side-nav ul li .sub-menu li a {
    color: #fff;
}

.overlay_gen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 999999999;
    display: none;
}

.side-nav .menu-item-has-children > a:after {
    float: left;
    margin: 0;
}
/* End Sidebar */
/* Start Nav */
.sub-menu {
    background: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 160px;
    top: 120%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 9;
}

.navbar-nav li.dropdown.menu-item-has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.navbar.navbar-inverse {
    background: #262F36;
    border: none !important;
    margin: 0;
    float: right;
    width: 100%;
    border-radius: 0;
    padding: 0;
}

.logo-img {
    max-width: 60px;
    float: left;
    margin-right: 10px;
}

.logo-name {
    float: left;
}

.logo-name h2 {
    color: #000;
    font-family: titBold;
    font-size: 30px;
    margin-top: 15px;
}

a.logo.navbar-brand {
    display: block;
    height: 100%;
}

.bitcoin {
    float: right;
    color: #000;
    font-size: 15px;
    font-family: titBold;
    margin: 33px 0px;
}

.navbar-nav {
    /*float: none;*/
    display: inline-block;
    margin: 0;
}

#myNavbar {
    text-align: center;
}

.navbar-inverse .navbar-nav li a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    text-shadow: none;
}

.navbar-inverse .navbar-nav li a i {position: relative;right: -4px;transition: all .3s ease-in-out;}

.menu-item-has-children:hover a i {
    transform: rotate(-180deg);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ff5700;
    text-shadow: none;
}

.login-x a:hover, .login-x a:focus, .login-x a:active {
    color: #ff5700;
}

.navbar-inverse .navbar-nav li .sub-menu li a {
    text-align: left;
    padding: 10px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
}

.navbar-inverse .navbar-nav li .sub-menu li a:hover {
    color: #35af77;
}
.open-sidebar {
    display: none;
}
.logo.navbar-brand img {
    max-width: 100px;
    /* filter: brightness(0) invert(1); */
}

.login-x {
    display: block;
    float: left;
    margin-top: 45px;
}
.navbar-nav {
    /* float: none !important; */
}
.login-x a {
    background: none !important;
    box-shadow: none !important;
    color: #ffff;
    font-size: 15px;
    border: none !important;
    padding: 10px;
}

.login-x a i {
    margin: 0 5px;
}
/* End Nav */
/* Start Login */
@media (min-width: 768px){
.modal-dialog {
    width: 450px;
}
}
.modal-c-tabs .nav-tabs {
    text-align: center;
}

.modal-c-tabs .nav-tabs li {
    width: 50%;
}

.modal-c-tabs .nav-tabs li a {
    background: #0376d9;
    display: block;
    padding: 20px;
    margin: 0;
    border-radius: 0 !important;
    color: #fff;
    font-size: 16px;
    border: none !important;
}

.modal-c-tabs .nav-tabs li:first-child a {
    border-left: 1px #0067bf solid !important;
}

.modal-c-tabs .nav-tabs li.active a {
    background: #fff;
    color: #0376d9;
}

#modalLRForm .modal-dialog {
    overflow: hidden;
    border-radius: 10px;
}
.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group .form-control {
    height: 50px;
    border: 1px #ccc solid;
    box-shadow: none;
    padding: 10px 44px;
    line-height: 50px;
}

.form-group i {
    position: absolute;
    margin: 17px;
    color: #0376d9;
    font-size: 18px;
    top: 0;
}
.modal-body form {
    margin-top: 25px;
}

.btn.btn-info {
    background: #607D8B;
    border: none !important;
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding: 0;
    line-height: 50px;
}

.options p {
    font-size: 13px;
    line-height: 24px;
}

.options p a {
    color: #0376d9;
}
/* End Login */
/* Start Slider */
#slider {
    position: relative;
    width: 100%;
    height: 500px;
    top: 0;
    overflow: hidden;
    /* z-index: -1; */
}

.home-slider-x .img {
    height: 500px;
    display: block;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
}

.owl-carousel {
    direction: ltr;
}

#slider .img::after {
    content: "";
    background: #000;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
}
/* End Slider */
/* Start MyOrder */
.box-id {
    background: #fff;
    padding: 30px;
    width: 450px;
    height: 410px;
    float: left;
    box-shadow: 0 4px 18px rgba(33, 33, 33, .3);
    -o-box-shadow: 0 4px 18px rgba(33, 33, 33, .3);
    -ms-box-shadow: 0 4px 18px rgba(33, 33, 33, .3);
    -moz-box-shadow: 0 4px 18px rgba(33, 33, 33, .3);
    -webkit-box-shadow: 0 4px 18px rgba(33, 33, 33, .3);
    padding: 45px;
    overflow: hidden;
    background-image: url(../images/map-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.box-id .icon-logo {
    max-width: 90px;
    margin: 15px auto 20px;
}

.box-id .box-head h1 {
    font-size: 30px;
    line-height: 30px;
    color: #212121;
    opacity: 0.75;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: bahijBold;
}

.box-id .box-head span {
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 15px;
    color: #212121;
    opacity: 0.75;
    display: block;
}

.box-id .box-body form {
    position: relative;
}

.box-id .box-body form input {
    height: 50px;
    border: none;
    border-bottom: 2px solid #757575;
    background-color: transparent;
    color: #757575;
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
}
.box-id .box-body button {
    position: absolute;
    bottom: 15px;
    left: 2px;
    font-size: 16px;
    line-height: 25px;
    color: #212121;
    opacity: 0.75;
    padding: 0;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.text-box h1 {
    font-size: 40px;
    color: #fe5900;
    font-family: bahijBold;
}

.text-box h2 {
    color: #fff;
    font-size: 23px;
    line-height: 1.7;
    font-family: bahijBold;
    max-height: 78px;
    overflow: hidden;
}

.text-box p {
    color: #fff;
    line-height: 34px;
    font-size: 15px;
    max-height: 102px;
    overflow: hidden;
}

.text-box {
    margin-top: 40px;
}

#myOrder {
    margin-top: 50px;
    height: 490px;
    position: absolute;
    z-index: 5;
}
/* End MyOrder */
/* Start About */
#about {
    padding: 80px 0;
}

.title {
    text-align: center;
}

.title h3 {
    font-family: bahijBold;
    font-size: 30px;
    display: table;
    margin: auto;
    margin-bottom: 35px;
    position: relative;
    padding-bottom: 25px;
}

.title h3::after {
    content: "";
    width: 50px;
    height: 4px;
    background: #0376d9;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.title p {
    width: 80%;
    margin: auto;
    font-size: 16px;
    margin-bottom: 40px;
}
#services {
    background: #f1f1f1;
    padding: 80px 0;
}

.block-item {
    position: relative;
    z-index: 1;
    background: #fff;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 30px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.38);
    margin: 15px 0;
}

.block-item .icon-block {
    display: block;
    width: 74px;
    height: 114px;
    margin: 0 auto;
}

.block-item .details-serv h1 {
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 20px;
    font-family: bahijBold;
    height: 22px;
    overflow: hidden;
}

.block-item .details-serv {
    text-align: center;
}

.block-item .details-serv p {
    font-size: 14px;
    font-family: bahijLight;
    height: 108px;
    overflow: hidden;
}

.block-item::after, .block-item::before {
    content: "";
    width: 100%;
    position: absolute;
    background: #0376d9;
    height: 200%;
    top: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.block-item::after {
    left: 0;
    transform: rotate(45deg) translate(-1000px);
}

.block-item::before {
    right: 0;
    transform: rotate(45deg) translate(1000px);
}

.block-item:hover::before {
    transform: rotate(45deg) translate(50px, -90px);
}

.block-item:hover::after {
    transform: rotate(45deg) translate(-298px, -50px);
}

.block-item:hover img {
    filter: brightness(0) invert(1);
    transition: all .3s;
}

.block-item:hover .details-serv h1 {
    color: #fff;
}

.block-item:hover .details-serv p {
    color: #fff;
}

.block-item img {
    transition: all .3s;
}
.block-item:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
}
/* End About */
/* Start Services */
#services {
    background: #f1f1f1;
    padding: 80px 0;
}
.block-serv {
    background: #fff;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;
}

.block-serv .img-block {
    height: 250px;
    overflow: hidden;
}

.block-serv .img-block .img {
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
}

.block-serv .block-details {
    padding: 20px;
    text-align: center;
}

.block-serv .block-details h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: bahijBold;
    height: 45px;
    overflow: hidden;
}

.block-serv .block-details p {
    font-size: 14px;
    font-family: bahijLight;
    height: 108px;
    overflow: hidden;
}

.block-serv:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
}

.block-serv:hover .img-block .img {
    transform: scale(1.1);
}

.block-serv:hover .block-details h2 {
    color: #fc5800;
}

.btn.btn-style {
    display: table;
    width: 170px;
    height: 40px;
    line-height: 40px;
    background: #0376d9;
    color: #fff;
    font-family: bahijBold;
    font-size: 18px;
    margin: 5px auto 0;
}

.btn.btn-style:hover {
    background: #ff5900;
}
/* End Services */
/* Start Counter */
.logistic_counter_area {
    text-align: center;
    padding: 50px 0;
}

.logistic_counter .single-counter .icon-count {
    width: 75px;
    height: 75px;
    /* background: #0376d9; */
    color: #0376d9;
    font-size: 45px;
    border-radius: 100%;
    line-height: 100px;
    margin: 15px auto;
}

.logistic_counter .single-counter .counter {
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

.logistic_counter .single-counter h4 {
    font-size: 18px;
    margin-top: 0;
    color: #333;
    font-weight: bold;
}
/* End Counter */
/* Start Contact */
#contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 80px 0;
    margin-bottom: 50px;
    margin-top: 50px;
}

#contact::after {
    content: "";
    position: absolute;
    background: #000;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    opacity: .8;
}

#contact .container {
    position: relative;
    z-index: 2;
}

.contact-x .form-group textarea.form-control {
    height: 200px;
}

.contact-x input.btn.btn-style {
    height: 50px;
    float: left;
}

.contact-x .man-img {
    position: absolute;
    top: -4em;
    left: 0;
    z-index: 99;
    max-width: 600px;
}

.contact-x .man-img img {
    width: 100%;
}

.contact-x {
    overflow: visible;
}

.contact-x .title {
    text-align: start;
}

.contact-x .title h3 {
    margin: 0;
    margin-bottom: 30px;
    color: #fff;
}

.contact-x .title h3::after {
    left: auto;
}
/* End Contact */

/* Start Client */
#clients {
    padding: 80px 0;
    background: #f1f1f1;
}

.clients-slider .img {
    width: 100%;
    height: 130px;
    overflow: hidden;
}

.clients-slider .img img {
    width: 90%;
    height: 100%;
    margin: auto;
    display: block;
    object-fit: fill;
}
/* End Client */
/* Start Footer */
footer {
    position: relative;
    overflow: hidden;
    background-image: url(../images/map-small.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-position: center center; */
    background-color: #212121;
}
footer::after {
    content: "";
    background-color: rgba(33, 33, 33);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .8;
}

footer .container {
    position: relative;
    z-index: 2;
}

.logo.logo-footer img {
    max-width: 70px;
}
.logo.logo-footer img:last-child {
    filter: brightness(0) invert(1);
    margin-top: 15px;
    max-width: 100px;
}

.logo.logo-footer {
    max-width: 100px;
    text-align: center;
    margin-bottom: 30px;
}

.footer-top {
    padding: 70px 0 40px;
}

.social-media-footer {
    margin-top: 40px;
    float: right;
    width: 100%;
}

.social-media-footer ul li {
    display: inline-block;
}

.social-media-footer ul li a {
    display: block;
    width: 30px;
    height: 30px;
    background: #0376d9;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    border-radius: 2px;
}

.social-media-footer ul li a:hover {
    background: #ff5900;
}

.footer-top .links li {
    display: block;
    float: right;
    width: 46%;
    margin-left: 10px;
    line-height: 32px;
    margin-bottom: 22px;
}

.footer-top .links li a {
    display: block;
    color: #fff;
    font-size: 15px;
}

.footer-top h1 {
    font-size: 20px;
    font-family: bahijBold;
    color: #fff;
    margin-top: 0;
    margin-bottom: 35px;
}

.mapf {
    height: 500px;
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}

.mapf iframe {
    width: 100%;
    height: 100%;
}

.footer-top .links li a:hover {
    color: #ff5900;
}
.footer-bottom {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 25px 0;
    text-align: center;
}

.footer-bottom p {
    color: #f1f1f1;
    font-size: 15px;
}

.footer-bottom p span {
    color: #fe5800;
}
/* End Footer */
.navbar.navbar-inverse.in-nav {
    background: #f1f1f1 !important;
}

.navbar.navbar-inverse.in-nav .logo.navbar-brand img {
    filter: none;
}

.navbar.navbar-inverse.in-nav .navbar-nav li a {
    color: #222;
}

.navbar.navbar-inverse.in-nav .login-x a {
    color: #222;
}

.navbar.navbar-inverse.in-nav .login-x a:hover, .navbar.navbar-inverse.in-nav .navbar-nav li a:hover, .navbar.navbar-inverse.in-nav .navbar-nav li a:focus, .navbar.navbar-inverse.in-nav .navbar-nav li a:active {
    color: #fb5800;

}

.body-in {
    padding: 80px 0;
    background: #fff;
}
.services-x.body-in .block-serv {
    background: #fbfbfb;
}

.toph {
    border-bottom: 1px solid #EAEAEA;
    background: #EAEAEA;
}

.toph ul li {
    float: right;
}

.toph ul li a {
    display: block;
    padding: 6px 15px;
    position: relative;
    text-align: center;
    color: #323232 !important;
    font-size: 14px;
}

.toph ul li a i {
    margin-right: 5px;
    color: #bbb;
}

.toph p {
    color: #323232;
    font-size: 14px;
    line-height: 35px;
    margin: 0;
    text-align: left;
}

.logo-h {
    padding: 0;
}

.contact-h {
    float: right;
    width: 100%;
    position: relative;
    top: 25px;
}

.details-con {
    float: right;
    width: 100%;
}

.details-con .icon-i i {
    float: right;
    width: 70px;
    /*font-size: 45px;*/
    font-size: 30px;
    color: #0376d9;
    text-align: center;
}
.details-con .icon-i {
    float: right;
    width: 100%;
}
.details-con .icon-i h1 {
    color: #323232;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 2px;
}

.details-con .icon-i span, .details-con .icon-i a {
    position: relative;
    color: #6f747d !important;
    font-weight: 500;
    font-size: 14px;
    float: right;
    width: 65%;
    margin-top: 5px;
}

.modal-c-tabs {
    padding: 25px 0;
}

.modal-c-tabs .title h3 {
    font-size: 23px;
    padding-bottom: 20px;
}



.contw {
  display: block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contw input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.contw:hover input ~ .checkmark {
  background-color: #ccc;
}

.contw input:checked ~ .checkmark {
  background-color: #0376d9;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.contw input:checked ~ .checkmark:after {
  display: block;
}

.contw .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.box-id .box-body form p {
    display: inline-block;
}

.box-id .box-body form p input {
    width: auto;
    height: auto;
}

.details-con-f ul li {
    display: block;
    line-height: 3.3;
    font-size: 15px;
    color: #fff;
}

.details-con-f ul li i {
    width: 35px;
    height: 35px;
    border: 1px #fff solid;
    border-radius: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    margin-left: 12px;
}

.single-slider .img {
    background-size: 100% 100%;
    height: 400px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
}

.text-single h1 {
    font-family: bahijBold;
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 20px;
}

.text-single h1 span {
    color: #ff5700;
}

.text-single p {
    margin: 25px 0;
}

.text-single ul li {
    display: inline-block;
    margin-left: 20px;
}

.text-single ul li a {
    display: block;
}

.text-single ul li a img {
    max-width: 200px;
}

.form-group textarea.form-control {
    height: 200px;
    padding-top: 0;
}

section.app.body-in input.btn.btn-style {
    float: left;
}

input.btn.btn-style {
    line-height: 45px;
    height: 45px;
    padding: 0;
}
.req-x {
    background: #fff;
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);*/
    border-radius: 5px;
    padding: 35px 35px 20px;
    /*border-top: 40px #0376d9 solid;*/
    padding-top: 0;
}

/* Tracking Info Detail */

.tracking-info-detail{
    position:relative;
    margin-top: 55px;
    margin-bottom:45px;
}

.tracking-info-detail .tracking-box{
    position:relative;
}

.tracking-info-detail .tracking-box .tracking-time-box{
    position:relative;
    margin-left: 30px;
    display:inline-block;
}

.tracking-info-detail .tracking-box .tracking-time{
    position:relative;
    color:#222222;
    font-size:18px;
    font-weight:400;
}

.tracking-info-detail .tracking-box span{
    position:relative;
    font-size:14px;
    color:#777777;
}

.tracking-info-detail .tracking-box .tracking-location{
    position:relative;
    font-size:14px;
    color:#777777;
    padding-right: 70px;
    padding-bottom:40px;
    display:inline-block;
}

.tracking-info-detail .tracking-box .tracking-location:before{
    position:absolute;
    content:'';
    right: 0px;
    top:0px;
    width:1px;
    height:100%;
    background-color:#d6d6d6;
}

.tracking-info-detail .tracking-box .tracking-location strong{
    position:relative;
    color:#222222;
    font-size:16px;
    font-weight:400;
    display:block;
}

.tracking-info-detail .tracking-box .tracking-location:after{
    position:absolute;
    content:'';
    right: -16px;
    top:-2px;
    width:34px;
    height:34px;
    border-radius:50%;
    background-color:#01a95a;
    display:inline-block;
}

.tracking-info-detail .tracking-box .tracking-location.style-two::after{
    background-color:#4dcefe;
}

.tracking-info-detail .tracking-box .tracking-location.style-three::after{
    background:#ffffff;
    border:1px solid #d6d6d6;
}

.tracking-info-detail .tracking-box .tracking-location .dott{
    position:absolute;
    content:'';
    right: -3px;
    top: 11px;
    width:9px;
    height:9px;
    z-index:1;
    border-radius:50%;
    background-color:#d6d6d6;
}

.tracking-info-detail .tracking-box:last-child .tracking-location{
    padding-bottom:0px;
}

.tracking-info-detail .tracking-box:last-child .tracking-location:before{
    display:none;
}

.map-data{
    text-align:center;
    font-size:14px;
    font-weight:400;
    line-height:1.8em;
}

.map-data h6{
    font-size:16px;
    font-weight:700;
    text-align:center;
    margin-bottom:5px;
    color:#121212;
}

.map-canvas{
    height:360px;
}

.search-id input {
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 2px #959494 solid;
}

.search-id {
    position: relative;
}

.search-id button {
    position: absolute;
    left: 0;
    bottom: 10px;
    background: none !important;
    border: none !important;
    padding: 0;
    font-size: 17px;
}
.contw a {
    color: #0376d9;
}

.app .text-single p {
    margin: 0;
}


a.lang {
    float: left;
    color: #fff;
    font-size: 17px;
    padding: 13px 0;
    font-family: bahijBold;
}



#modalLRForm p {
    display: inline-block;
    width: 49%;
}

#modalLRForm p a {
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: #0376d9;
}

#cancel p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #0376d9;
}

#cancel .form-group textarea.form-control {
    height: 150px;
}

#cancel .form-group {
    margin-bottom: 20px;
}

#cancel .form-group input.btn.btn-style {
    margin-top: 20px;
}

#cancel form {
    margin-top: 15px;
}

#change p {
    text-align: center;
}

#change input.btn.btn-style {
    margin-top: 20px;
}

.cancel-x {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.cancel-x ul li {
    display: inline-block;
    margin: 0 10px;
}

.cancel-x ul {
    text-align: center;
}

.cancel-x ul li:first-child .btn.login-btn {
    background: #0376d9;
}

.cancel-x ul li a {
    padding: 10px 20px;
    color: #fff;
}

.cancel-x ul li:last-child .btn.login-btn {
    background: #ff5700;
}

.backColor {
    background: #f1f1f1;
}

.text-req {
    text-align: center;
    padding: 0;
}

.text-req h1 {
    font-family: bahijBold;
    font-size: 25px;
    margin-top: 0;
    color: #404040;
    margin-bottom: 40px;
}

.text-req .img {

    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.req-x h3 {
    text-align: center;
    margin: 25px 0 30px;
    font-size: 22px;
    font-family: bahijBold;
}

.req-x .form-group i {
    color: #ccc;
    margin: 16px;
}
.req-x .form-group input::placeholder {
    color: #ccc
}

.req-x .form-group i::after {
    content: "|";
    position: absolute;
    left: -11px;
    top: -3px;
}

.req-x .form-group .form-control {
    padding: 0 56px;
}

.my-account {
    font-size: 13px;
    color: #333;
}

.my-account .btn.login-btn {
    font-size: 13px;
    padding: 5px 5px;
    color: #0376d9;
}
.details-contact-p {
    background: #607D8B;
    padding: 50px 0;
}
.title-cont-g {
    text-align: center;
}

.title-cont-g h1 {
    color: #fff;
    margin: 0;
    margin-bottom: 40px;
    font-size: 35px;
    font-family: bahijBold;
}

.block-cont .icon-cont {
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    background: #7292a1;
    margin: 0 auto 30px;
}

.block-cont {
    text-align: center;
}

.block-cont .details-cont h1 {
    font-size: 20px;
    font-family: bahijBold;
    color: #fff;
}

.block-cont .details-cont h3 {
    font-size: 15px;
    margin-top: 8px;
    color: #f1f1f1;
    font-family: bahijBold;
}

.block-cont .details-cont p, .block-cont .details-cont ul li {
    font-size: 15px;
    color: #f1f1f1;
    font-family: bahijLight;
}

.block-cont .details-cont ul li {
    display: block;
    line-height: 1.6;
}

.title-s {
    font-size: 50px;
    font-family: bahijBold;
    color: #0376d9;
    margin-bottom: 30px;
}

div#map {
    height: 100%;
}

.traking.body-in .req-x {
    border: none;
    padding: 35px 35px 20px;
}

.home-slider-x .container {
    position: absolute;
    top: 0;
    right: 0;
    direction: rtl;
    left: 0;
}

.home-slider-x .container .text-box {
    width: 50%;
    padding: 50px 0 0;
}

.other-services {
    background: #f1f1f1;
    padding: 70px 0;
}

.single-inner.body-in {
    padding: 70px 0;
}

.single-img {
    height: 310px;
}

.single-img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#box-id .modal-content {
    background: transparent;
    padding: 0;
    box-shadow: none;
    border: none;
}

a.btn-id {
    float: right;
    color: #fff;
    font-size: 17px;
    padding: 13px 0;
    cursor: pointer;
}

.log-x{
    margin-top: 100px;
}

.error .form-control{
    border-color: red;
}

.has-error .form-control{
    border-color: red;
}

.has-error {
    color: red;
}

.help-block {
    color: red;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.other-logos a {
    display: inline-block;
    max-width: 35px;
    margin: 0 10px;
}

.other-logos {
    text-align: center;
}

.social-media-footer {
    text-align: center;
}

.footer-top .links li a.btn-id {
    padding: 0;
    text-align: start;
    float: none;
}

.details-con-f ul li i {
    float: right;
    margin-bottom: 13px;
}

.details-con-f ul li {
    float: right;
    width: 100%;
    line-height: 2;
    margin-bottom: 5px;
}

.details-con-f ul li span {
    display: inline-block;
    float: right;
    width: 80%;
}
.details-contact-p {
    background: #fff;
    padding: 0 0 50px;
}

.btn-group button .hidden-xs {
    display: inline-block;
    padding: 12px;
    font-size: 17px;
}

.well .tab-content {
    text-align: start;
}

.well .tab-content h3, .well .tab-content p, .well .tab-content h5 {
    text-align: start !important;
    padding: 0 !important;
    font-family: bahijPlain !important;
}

.well {
    background: #fff;
    padding: 30px;
    float: right;
    width: 100%;
}

.well .tab-content ul li {
    margin: 0 0 15px !important;
    line-height: 2;
    font-size: 15px;
    padding-right: 20px;
    font-family: bahijPlain !important;
    position: relative;
}

.well .tab-content h3, .well .tab-content h5 {
    font-size: 20px !important;
    margin: 20px 0 !important;
    color: #0276d9 !important;
}

.btn-primary {
    background: #262f36;
}

.btn-default {
    background: #0276d9;
    color: #fff;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background: #262f36;
}

.btn-primary:focus, .btn-primary.focus {
    background: #262f36;
}

.btn-default:focus, .btn-default.focus {
    background: #262f36;
    border-color: #262f36;
    color: #fff;
}

.well .tab-content ul li::before {content: "";width: 8px;height: 8px;position: absolute;right: 0;background: #607ed9;border-radius: 50%;top: 10px;}
.text-left{
    float: left;
}
.logo-img{
    width: 60px;
    /*height: 60px;*/
}

@media(max-width: 776px){
    .mb-sm-50{
        margin-bottom: 50px !important;
    }
    .mr-sm-70{
        margin-right: 70px;
    }
    .mr-sm-10{
        margin-right: 10px;
    }

    .other-logos , .social-media-footer{
        text-align: right !important;
    }

}


/*tracking style*/
.background {
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
}
.background .container {
  border-radius: 40px;
  background-color: #fff;
  max-width: 450px;
  height: auto;
}
.background .container .header {
  border: 1px solid lightgray;
  padding: 40px 0px 20px 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.background .container .header .icon-back {
  font-size: 30px;
  color: #11D1A8;
}
.background .container .header .order .order-number {
  font-size: 20px;
  font-weight: bold;
  color: #0A0A0A;
}
.background .container .header .order .order-status {
  color: #F29702;
  font-weight: 600;
}
.background .container .header .icon-brand {
  font-size: 30px;
  color: #11D1A8;
}
.background .container .content {
  border: 1px solid lightgray;
  padding: 20px 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.background .container .content .timeline .item {
  position: relative;
  border-bottom: 1px solid lightgray;
  padding: 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
  direction: initial;
}
.background .container .content .timeline .item.active .item-description:before {
  background-color: #11D1A8;
}
.background .container .content .timeline .item:last-child {
  border-bottom: none;
}
.background .container .content .timeline .item:last-child:before {
  display: none;
}
.background .container .content .timeline .item:before {
  border-left: 3px solid #11D1A8;
  content: '';
  z-index: 0;
  height: 102%;
  left: 135px;
  position: absolute;
  opacity: 0.4;
}
.background .container .content .timeline .item .item-label {
  position: absolute;
}
.background .container .content .timeline .item .item-label .item-label-date {
  color: #A6A6A6;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 5px;
}
.background .container .content .timeline .item .item-label .item-label-hour {
  font-weight: 600;
  font-size: 19px;
  float: right;
}
.background .container .content .timeline .item .item-description {
  margin-left: 150px;
  margin-bottom: 20px;
}
.background .container .content .timeline .item .item-description:before {
  border: 2px solid #11D1A8;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  content: '';
  z-index: 0;
  left: 125px;
  position: absolute;
  background-color: #fff;
  display: block;
}
.background .container .content .timeline .item .item-description .item-description-status {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 5px;
}
.background .container .content .timeline .item .item-description .item-description-location {
  color: #A6A6A6;
  font-size: 15px;
  font-weight: 500;
}

.tracking-input{
    width:200px;
}


.order-info h4{
    color: #0376d9
}

.order-info input , textarea{
    background-color: lightgrey;
    border: none;
}

.order-info textarea{
        width:200px;
        height: 150px;
}

@media(max-width: 767px){
.traking .req-x{
    padding: 0px !important;
}
}


.tracking-options{
    width: 200px !important;
}

.pre-wrap{
    white-space: pre-wrap;
}
