.login-x {
    float: right;
}

.box-id .box-body button {
    left: auto;
    right: 2px;
}

.contact-x .man-img {
    right: 0;
    left: auto;
    transform: scaleX(-1);
}

.contact-x .form-group textarea.form-control {
    padding: 0 44px;
}

.contact-x input.btn.btn-style {
    float: right;
}

.footer-top .links li {
    margin-left: 0;
    margin-right: 10px;
    float: left;
}

.open-sidebar {
    float: right;
}

.sidebar {
    right: auto;
    left: 0;
    transform: translateX(-100%);
}
.toph ul li {
    float: left;
}

.toph p {
    text-align: right;
}

.details-con .icon-i i {
    float: left;
}

.contw {
    padding-right: 0;
    padding-left: 35px;
}

.checkmark {
    left: 0;
    right: auto;
}

.details-con-f ul li i {
    margin-right: 12px;
    margin-left: 0;
}

.text-single ul li {
    margin-left: 0;
    margin-right: 20px;
}
section.app.body-in input.btn.btn-style {
    float: right;
}
.search-id button {
    left: auto;
    right: 0;
}

.tracking-info-detail .tracking-box .tracking-time-box {
    margin-right: 30px;
    margin-left: 0;
}

.tracking-info-detail .tracking-box .tracking-location {
    padding-right: 0;
    padding-left: 70px;
}

.tracking-info-detail .tracking-box .tracking-location:before {
    right: auto;
    left: 0;
}

.tracking-info-detail .tracking-box .tracking-location:after {
    left: -16px;
    right: auto;
}

.tracking-info-detail .tracking-box .tracking-location .dott {
    right: auto;
    left: -3px;
}
a.lang { 
    float: right;
}
.home-slider-x .container {
    direction: ltr;
}

.req-x .form-group i::after {
    left: auto;
    right: -11px;
}
.details-con-f ul li i {
    float: left;
}

.details-con-f ul li span {
    float: left;
}

.details-con .icon-i span, .details-con .icon-i a {
    float: left;
}
.well .tab-content ul li::before {
    left: 0;
    right: auto;
}

.well .tab-content ul li {
    padding-right: 0;
    padding-left: 20px;
    display: block;
    box-sizing: border-box;
    float: left;
    width: 100%;
    word-break: break-word;
}

.well .tab-content ul {
    box-sizing: border-box;
    float: left;
    width: 100%;
}

@media (max-width: 485px){
.tracking-info-detail .tracking-box .tracking-location {
    padding-right: 0 !important;
    padding-left: 40px;
}
}


@media (max-width: 767px){
    .background{
        margin-left: -40%;
    }
.tracking-details{
    margin-left: 25%
}
}

    .order-info h3{
        text-align: left;
        color: #0376d9;
    }

    .track-another-order{
        float: left;
    }
