@font-face {
  font-family: h-b;
  src: url('../fonts/HelveticaNeueLTArabic-Bold.ttf');
}
@font-face {
  font-family: h-l;
  src: url('../fonts/HelveticaNeueLTArabic-Light.ttf');
}
@font-face {
  font-family: h-m;
  src: url('../fonts/HelveticaNeueLTArabic-Roman.ttf');
}

*{
  font-family: h-m;
}
.head-title{
  font-size: 28px;
}
.line1{
	width: 60px;
	background-color:#3374BA;
	height: 6px;
	display: inline-block;
	border-radius:100px;
}
.line2{
	width: 60px;
	background-color:#3374BA;
	margin-left: 60px;
	height: 6px;
	display: inline-block;
	border-radius:100px;
}
    
//************************* NavBar *************************

.navbar{
	padding-top:10px;
	margin:10px;
	li{
		float: right;
		list-style-type: none;
		color: black;
  		font-family: h-b;
		padding: 12px 25px;
	}
	.cta{
		background-color:#F16629;
		padding: 12px 35px;
		margin-right: 10px;
		color: white;
		border-radius: 100px;	
	    margin-top: -10px;
	}
	.logo{
		float: right;
		img{
			width: 140px;
			padding-top: 10px;
		}
	}
	.menu{
		margin-top: 10px;
		float: left;
	}
	
}
.modal-dialog{
	margin-top: 10%;
}
.modal-body{
		input{
			width: 100%;
		    border-radius: 8px;
		    padding: 10px;
		    border: 0;
		    border-bottom: 1px solid #e8e8e8;
		    outline: none;
		    margin-bottom:25px;
		}
		input:focus{ 
		    border-bottom: 1px solid #3374BA;
		    color: #3374BA;
		}
	}
	.btn-primary{
			background-color:#3374BA;
			width: 100%;
			padding: 20px;
	}



//************************* Header *************************
.header{
	background: url('../images/header-bg.jpg');
	height: 750px;
    display: flex;
    align-items: center;
    .content{
    	padding-top: 30px;
    	color: white;
    	h1{
    		line-height: 58px;
    	}
    	h3{
    		line-height: 42px;
    	}
    	p{
    		font-size: 24px;
    		margin: 60px 0;
    	}
    	span{
    		background-color:#F16629;
    		padding: 4px 25px;
    		border-radius: 100px;
    	}
    }
	.mockup{
		text-align: left;
	}
	.store-btn{
		img{
			height: 50px;
		}
	}
}



//************************* Map *************************
.map{
	padding:40px 0;
	h2{
		margin-top: 20px;
	}
	img{
		width: 100%;
		margin-top: 30px;
	}
	.xs{
		display: none;
	}
}


//************************* Features *************************

.features{
	margin-top: 60px;
	img{
		width: 120px;
	}
	.feature-box{
		border:1px solid #F3F3F3;
		padding:70px 10px;
		margin-top: 40px;
		height: 390px;
		transition: .2s;
		h3{
			font-size: 18px;
			font-family: h-b;
		}
		h4{
			margin-top: 20px;
			line-height: 32px;
			font-family: h-l;
			font-size: 16px;
		}
	}
	.feature-box:hover{
		box-shadow: 0 10px 30px 0 #f2f2f2;
		border:1px solid #fff;
	    transform: translateY(-3px);
	}

}

//************************* Services *************************

.services{
	background-color:#fbfbfb;
	padding:80px 0;
	margin-top: 60px;
	img{
		width: 120px;
	}
	.service-box{
		padding:70px 10px;
		margin-top: 40px;
		transition: .2s;
		h3{
			font-size: 18px;
			font-family: h-b;
		}
		h4{
			margin-top: 20px;
			line-height: 32px;
			font-family: h-l;
			font-size: 16px;
		}
	}
	.b-l{
		border-left:1px solid #F3F3F3;
	}
	.b-r{
		border-right:1px solid #F3F3F3;
	}

}


//************************* Get App *************************

.get-app{
	padding:80px 0;
	.row{
		display: flex;
    	align-items: center;
	}
	.content{
		p{
			font-family: h-b;
		}
		h3{
			font-family: h-l;
			font-size: 22px;
		}
	}
	.store-btn{
		margin:40px 0;
		img{
			height: 50px;
		}
	}
	.mockup{
		float: left;
	}
}


//************************* Footer *************************

.footer{
	h3{
		font-family: h-b;
		margin-bottom: 30px;
	}
	h4{
		font-family: h-m;
	}
	p{
		line-height: 32px;
	}
	form{
		position: relative;
		width: 70%;
		input{
		border:1px solid #3374BA;
		border-radius:4px;
		padding:8px;
		width: 100%;
		}
		i{
			position:absolute;
			top: 0;
			left: 0;
			background-color:#3374BA;
			padding:12px 15px;
			border-radius:4px;
			color: white;
		}
	}

	.phone{
		float: right;
		display: block;
		direction: ltr;
	}

	.social-media{
		i{
			text-align: center;
			margin-top: 20px;
			margin-left: 10px;
			background-color:red;
			padding:15px;
			color: white;
			border-radius:500px;
			width: 50px;
			height: 50px;
			font-size: 24px;
		}
		.facebook{
			background-color:#34589D;
		}
		.twitter{
			background-color:#30ADF4;
		}
		.youtube{
			background-color:#EA0032;
		}
	}
	
	.copyright{
		background-color:#fbfbfb;
		padding:20px;
		margin-top: 30px;
	}
}











@media only screen and (max-width: 728px) {
  .navbar .menu{
  	display: none;
  }
  .header{
  	height: auto;
  	padding-bottom: 250px;
	text-align: center;
	margin-bottom: 200px;
  	.mockup{
  		position: absolute;
  		img{
  			width: 100%;
  		}
  	}
  }
  .map{
  	width: 100%;
  	overflow: hidden;
  	text-align: center;
  	img{
  		width: 100%;
  		margin-left:150%;
  	}
  	.xs{
		display: block;
	}
	.lg{
		display: none;
	}
  }
  .get-app{
  	text-align: center;
  	.row{
  		display: inline-block;
  	}
  	.mockup{
  		img{
  			width: 100%;
  		}
  	}

  }
}









