.main-sidebar { position: absolute; top: 0; right: 0; }

.main-header .logo { float: right; }

.content-wrapper { margin-right: 230px; margin-left: 0; }

.main-header .navbar{ margin-right: 230px; margin-left: 0; }

.main-header .navbar-custom-menu { float: left; }

.main-header .sidebar-toggle { float: right; }

.main-footer { margin-right: 230px; margin-left: 0; }

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu { margin-right: 50px; }

.sidebar-menu>li>a { padding: 12px 15px 12px 5px; }

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu { right: 0; }

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) { right: 50px; }

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu { position: absolute; right: auto; left: 0; }

.skin-blue .sidebar-menu>li>a { border-right: 3px solid transparent; }

.skin-blue .sidebar-menu .treeview-menu>li>a { padding: 5px 15px 5px 5px; }

.input-group-addon:last-child { border-left: 1px solid #d2d6de; }

.stylish-input-group, .form-control { border-right: 1px solid #ccc; }

.datepicker-dropdown { left: 593px; right: 578px; }


@media (min-width: 768px)   {

    .sidebar-mini.sidebar-collapse .content-wrapper { margin-right: 50px !important; margin-left: 0!important; }

    .sidebar-mini.sidebar-collapse .main-header .navbar { margin-right: 50px; margin-left: 0px; }

    .sidebar-mini.sidebar-collapse .main-footer { margin-right: 50px !important; }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
      border-top-left-radius: 4px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: -3px; }

    .skin-blue .sidebar-menu>li.active>a {
      border-right: 3px solid transparent; border-right-color: #3c8dbc; border-left-color: transparent; }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu { border-bottom-left-radius: 4px; border-bottom-right-radius: 0; }

}