.logo {
    float: right;
    margin-right: 50px;
}

.collapse-menu {
    left: auto;
    right: 0;
}

ul#header-actions {
    float: left;
    margin: 0 20px 0 10px;
}

.custom-search {
    float: left;
}

.custom-search i {
    right: auto;
    left: 12px;
}

ul#header-actions .dropdown-menu {
    right: auto;
    left: 0;
}

.top-bar ul.right-stats {
    float: left;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
    left: auto;
    right: 0;
    text-align: right;
}

.website-performance .performance-stats {
    text-align: left;
}

.ribbon {
    clear: right;
    left: auto;
    right: -2px;
}

ul.menu li.selected:after {
    right: auto;
    left: 0;
    transform: scale(-1);
}

ul.menu li .down-arrow {
    right: auto;
    left: 10px;
    transform: scaleX(-1);
}

ul.menu li a .menu-item {
    padding-left: 0;
    padding-right: 10px;
}

.user-details .user-img .likes-info {
    right: auto;
    left: -7px;
}

ul.menu li ul li a {
    padding: 7px 52px 7px 15px;
}

ul.imp-notify li .icon {
    float: right;
}

ul.imp-notify li .details {
    margin-left: 0;
    margin-right: 48px;
}

.table-responsive {
    text-align: right;
}

.card-header {
    text-align: start;
}

.card.wallet .icon-wallet {
    right: auto;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.card.wallet .icon-wallet:before {
    text-align: left;
}

.card.wallet {
    text-align: right;
}

.vertical-nav {
    left: auto;
    right: -200px;
}

.vertical-nav.vertical-nav-opened {
    right: 0;
}

.not-block .day i {
    /* margin-right: auto; */
    margin-left: 10px;
}

.not-block .day .time {
    margin-right: 10px;
    margin-left: auto;
}

.not-block .remove-s {
    left: 20px;
    right: auto;
}

.not-block .remove-s a {
    margin-right: 18px;
    margin-left: auto;
}

.not-block .remove-s a.delete {
    float: left;
    position: relative;
}

.not-block {
    direction: rtl;
    text-align: right;
}

.not-block .day {
    direction: rtl;
    display: block;
}

@media (min-width: 992px) {
    .vertical-nav {
        left: auto;
        right: 0;
    }

    .dashboard-wrapper-lg {
        margin-left: 0;
        margin-right: 200px;
    }


}


.icon-map-pin {

    right: auto;
    left: 25px;
}
